@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success mt-3" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3" role="alert">
        @TempData["ErrorMessage"]
    </div>
}